*{  
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x:hidden;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);;
}
:root{

--primary:

}
.app{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);;
}