.all-contracts{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    padding:50px;
}


.single-contract{
    width:200px;
    height:200px;
    background-color:#0047DF;
    color: white;
    cursor:pointer;
    padding:10px;
}

.cover-image{
    width:70%;
}