.all-bids{
    display: flex;
    flex-direction: column;
}

.single-bid{
    border-radius:10px;
    background-color: white;
    width:80%;
    height:60px;
    display:flex;
    margin:30px;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-between;
}